@import url("styles/header.css")
:root {
    --cor-de-fundo: #91d9c5;
    --branco: #91d9c5;
}

body {
       background-color:  var(--cor-de-fundo);
       display:flex;
       justify-content: space-between;
}

